<h1>Welcome Uploaders!</h1>

<h2><%= link_to 'New User', new_user_path %></h2>
<br><br><br><br>
	 <% @user.each do |user| %>
        <%= image_tag user.avatar.url(:thumb)%>
        <h2><%= user.username %></h2>
       	<h2><%= link_to 'My Page', user %> 
        <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></h2><br><br><br><br>
   	<% end %>
